In [1]:
import numpy as np
A_arr = np.array([ [ 5,9], [4, 7] ])
B_arr = np.array( [ [2, 8], [1, 6] ] )
M_arr = A_arr * B_arr
print(M_arr)
C_arr = np.array([ [ 5,9], [4, 7] ])
D_arr = np.array( [ [2, 8], [1, 6] ] )
P_arr = np.dot(C_arr, D_arr)
print(P_arr)

[[10 72]
 [ 4 42]]
[[19 94]
 [15 74]]

In [18]:
R_div = np.array([ [ 25,65], [40, 14] ])
S_div = np.array([ [2, 10], [4, 5] ] )
T_div = R_div / S_div
print(T_div)

[[12.5  6.5]
 [10.   2.8]]

In [3]:
x

40

In [19]:
def print_even(n):
    for x in range(0,n):
        if x%2 == 0:
            print(x)

In [43]:
def compound_interest(principle, rate, years):
    orig_principle = principle
    for x in (0,years): 
        if years == 0:
            break
        else:    
            simple_interest = (principle * rate * 1) / 100
            principle = principle + simple_interest
    return principle - orig_principle

In [1]:
def str_func(str_input):
    x = len(str_input) - 1
    return str_input[x]

In [4]:
ans = str_func("1234adsadqwdasx")
print(ans)

x

In [11]:
def sum_str_func(sumstr):
    sumstr = str(sumstr)
    x = 0
    for i in range(0,len(sumstr)):
        x = int(sumstr[i]) + x
    return x

In [16]:
ans2 = sum_str_func(1234)
print(ans2)

10

In [32]:
s = "cloudxlab"
print(s[4:4])

In [40]:
def slicing_func(slicestr):
    print(slicestr[2:])

In [41]:
slicing_func("Hello World")

llo World

In [47]:
a = "cloudxlab"
a[1] = 'm'

TypeError: 'str' object does not support item assignment

In [51]:
a = "Cloudxlab is a large ed-tech platform for ml and big data"
count = 0
for letter in a:
     if letter == 'l':
        count = count + 1
print(count)

5

In [52]:
result = 'cloud' in 'cloudxlab'
print (result)

True

In [53]:
result1 = "cloud" in "asdjdnkadc"
print(result1)

False

In [54]:
string = "machine"
print (string == " machine")

False

In [57]:
"b" > "a"

True

In [58]:
help(str.translate)

Help on method_descriptor:

translate(...)
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.

In [61]:
print("abc".upper())

ABC

In [62]:
a = "cloudxlab"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [63]:
print("a".upper())

A

In [64]:
print(a)

cloudxlab

In [65]:
"@gmail" in "sagnik.2u@gmail"

True

In [91]:
data1 = "someone@gmail.com"
position = data1.find("!")
print(position)

-1

In [88]:
#x = "abc position".split()
#print(len(x))

False

In [118]:
def email_func(emailstr):
    x = emailstr.split()
    if emailstr.find("@") == -1:
        return None
    else:
        for i in range(0,len(x)):
            y = x[i].find("@")
            if y >= 0:           
                #print(x[i])
                return(x[i])
                break

In [119]:
email_func("sdasd asdasd @ adsfdsf sdfds")

'@'

In [9]:
a = 100
b = "%s fadad" %"a"
print(b)

a fadad

In [10]:
print('%d+3' % 3)

3+3

In [11]:
print("%f %f %s")

%f %f %s

In [14]:
print("%g %d %s" % (12.3, 12, 'cloudxlab'))

12.3 12 cloudxlab

In [15]:
a = [12, 3.4, 34, 'cloudxlab', [2.3, 1.4]]

In [16]:
print(3 in a)

False

In [17]:
print('cloudx lab' in a)

False

In [21]:
a = [1,2,3,4,5]
for number in range(0,len(a)):
    a[number] = a[number] + 1
print(a)

[2, 3, 4, 5, 6]

In [19]:
a = [1,2]
b = [3,4]
c = a + b
print(c)

[1, 2, 3, 4]

In [22]:
a = [1,2,3]    
c = a * 3

In [23]:
c

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [24]:
a = [1,2,3,4,5,6,7,8,9]
s = (a[2:5])

In [25]:
s

[3, 4, 5]

In [26]:
a = [1,2,3,4,5,6,7,8,9]
a[2:5] = [7,4,9]

In [27]:
a

[1, 2, 7, 4, 9, 6, 7, 8, 9]

In [37]:
a = [1,2,3]    
c = a * 3

In [38]:
a

[1, 2, 3]

In [39]:
c

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [40]:
x = 0
for i in range(0,len(c)):
    #c[i] = c[i] + c[i+1]
    x = x + c[i]
    print(c[i])
    print(x)
print(x)

1
1
2
3
3
6
1
7
2
9
3
12
1
13
2
15
3
18
18

In [41]:
a = [1,2,3,4,5,6,7,8,9]
s = (a[2:5])

In [42]:
x = 0
for i in range(0,len(s)):
    #c[i] = c[i] + c[i+1]
    x = x + s[i]
    print(s[i])
    print(x)
print(x)

3
3
4
7
5
12
12

In [43]:
a = [1,2,3,4,5,6,7,8,9]
a[2:5] = [7,4,9]

In [44]:
x = 0
for i in range(0,len(a)):
    #c[i] = c[i] + c[i+1]
    x = x + a[i]
    print(a[i])
    print(x)
print(x)

1
1
2
3
7
10
4
14
9
23
6
29
7
36
8
44
9
53
53

In [1]:
a = [23,12,32,1,2,34,56]
a.append(12)

In [2]:
print(a)

[23, 12, 32, 1, 2, 34, 56, 12]

In [5]:
print(a[len(a)])

IndexError: list index out of range

In [6]:
a.extend(a)

In [7]:
print(a)

[23, 12, 32, 1, 2, 34, 56, 12, 23, 12, 32, 1, 2, 34, 56, 12]

In [8]:
x = 0
for i in range(0,len(a)):
    #c[i] = c[i] + c[i+1]
    x = x + a[i]
    print(a[i])
    print(x)
print(x)

23
23
12
35
32
67
1
68
2
70
34
104
56
160
12
172
23
195
12
207
32
239
1
240
2
242
34
276
56
332
12
344
344

In [9]:
a.sort()

In [10]:
print(a)

[1, 1, 2, 2, 12, 12, 12, 12, 23, 23, 32, 32, 34, 34, 56, 56]

In [11]:
print(a[2] + a[7])

14

In [15]:
sum(a)

344

In [16]:
max(a)

56

In [17]:
len(a)

16

In [18]:
list = [12,23,43,[2,4,5], 2, 4,5]
list.pop(3)

[2, 4, 5]

In [19]:
list

[12, 23, 43, 2, 4, 5]

In [20]:
sum(list)

89

In [21]:
list = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list[1]

In [22]:
print(list)

['cloudx', 'provides', 'cloud', 'lab']

In [23]:
list.remove('lab')

In [24]:
print(list)

['cloudx', 'provides', 'cloud']

In [25]:
del(list[0:2])

In [26]:
list

['cloud']

In [27]:
list = ['cloudx', 'provides', 'cloud']

In [28]:
del(list[:])

In [29]:
print(list)

[]

In [30]:
len(list)

0

In [38]:
help.list()

AttributeError: '_Helper' object has no attribute 'list'

In [39]:
dir.list()

AttributeError: 'builtin_function_or_method' object has no attribute 'list'

In [1]:
#Interchange first and last letter of each word
def str_list_func(revstr):
    x = revstr.split()
    #print(x)
    revword = ""
    for i in range(0,len(x)):
        y = list(x[i])
        #print(y)
        a = y[0]
        b = y[len(y) - 1]
        y[0] = b
        y[len(y) - 1] = a
        #print(y)
        revword = revword + "".join(y) + " "
        #print(revword)
    #print(revword)
    return revword

In [22]:
print(str_list_func("I am learning Python at CloudxLab"))

I ma gearninl nythoP ta bloudxLaC

In [8]:
def mymap(a, f):
    r = []
    for i in a:
        v = f(i)
        r.append(v)
    return r

In [11]:
print(mymap([1,2,3], lambda x:x*2))

[2, 4, 6]

In [1]:
ddd = dict()

In [2]:
ddd['sagnik'] = 1

In [3]:
ddd['shreyasi'] = 2

In [4]:
print(ddd)

{'sagnik': 1, 'shreyasi': 2}

In [26]:
jjj = {'sagnik':1, 'shreyasi':2, 'shafeeq':3}
print(jjj)
print(jjj.items())
#for key in jjj:
 #   print(key, jjj[key])

{'sagnik': 1, 'shreyasi': 2, 'shafeeq': 3}
dict_items([('sagnik', 1), ('shreyasi', 2), ('shafeeq', 3)])

In [22]:


print(jjj)

{'sagnik': 1, 'shreyasi': 2, 'shafeeq': 3}

In [18]:
x = jjj.get("shreyasi", 0)

In [19]:
print(x)

2

In [14]:
counts = dict()
names = ['sagnik', 'shreyasi','shafeeq', 'sagnik']
for name in names:
    if name not in counts:
        counts[name] = 1
    else:
        counts[name] = counts[name] + 1
print(counts)

{'sagnik': 2, 'shreyasi': 1, 'shafeeq': 1}

In [15]:
"sagnik" in counts

True

In [17]:
counts = dict()
names = ['sagnik', 'shreyasi','shafeeq', 'sagnik', 'sagnik']
for name in names:
    x = counts.get(name, 0)
    counts[name] = x + 1
print(counts)

{'sagnik': 3, 'shreyasi': 1, 'shafeeq': 1}

In [20]:
counts = dict()
line = "This is cloudxlab. abs adsd This This"
lst = line.split()
for word_cnt in lst:
    counts[word_cnt] = counts.get(word_cnt, 0) + 1
print(counts)

{'This': 3, 'is': 1, 'cloudxlab.': 1, 'abs': 1, 'adsd': 1}

In [7]:
#first element is the dictionary and the second element is the sum of all unique integers in the list
def dict_tuple_func(lst_int):
    counts = {}
    sum_unique = 0
    int_comp = 0
    for x in lst_int:
        counts[x] = counts.get(x, 0) + 1   
    #print(counts)
    sum_unique_values = sum(counts.keys())
    tup_dictNunique = (counts, sum_unique_values)
    return tup_dictNunique

In [1]:
foo = [3, 4, 9, 6, 9, 27, 91]

In [3]:
divisible_by_3 = filter(lambda x: x % 3 == 0, foo)
print(list(divisible_by_3))

[3, 9, 6, 9, 27]

In [4]:
map(lambda x: x * 2, foo)

In [5]:
maporam = map(lambda x: x * 2, foo)
print(list(maporam))

[6, 8, 18, 12, 18, 54, 182]

In [15]:
def special_func(num):
    total = 0
    if type(num) == int and num > 0:
    #if num > 0:
        for i in range(1,num+1):
            if num % i == 0:
                if i % 2 != 0:
                    total = total + i
        #print(total)
        return total
    else:
        return -10

In [16]:
x = special_func(12)
print(x)

4

In [3]:
#Python Project - Churn Emails - Count the Number of Lines
def number_of_lines():
    fhand = open('/cxldata/datasets/project/mbox-short.txt')
    inp = fhand.read()
    count = 0
    for i in inp:
        if i == '\n':
            count = count + 1
    return count

In [3]:
def count_number_of_lines():
    fhand = open('/cxldata/datasets/project/mbox-short.txt')
    count = 0
    for line in fhand:
        if line.startswith("Subject:"):
            count = count + 1
    return count

In [1]:
def average_spam_confidence():
    fhand = open('/cxldata/datasets/project/mbox-short.txt')
    count = 0
    total_spamconf = 0
    for line in fhand:
        if line.startswith("X-DSPAM-Confidence:"):
            inp = line
            x = inp.split(":")
            total_spamconf = float(x[1]) + total_spamconf
            count = count + 1
    return total_spamconf/count

In [4]:
def find_email_sent_days():
    fhand = open('/cxldata/datasets/project/mbox-short.txt')
    daylst = []
    daydict = {}
    for line in fhand:
        if line.startswith("From"):
            inp = line
            x = inp.split()
            if x[0] == "From":
                #print(x[2])
                daylst.append(x[2])
    #print(daylst)
    for i in daylst:
        if i not in daydict:
            daydict[i]=daylst.count(i)
    #print(daydict)
    return daydict

In [1]:
def count_message_from_email():
    fhand = open('/cxldata/datasets/project/mbox-short.txt')
    emaillst = []
    emaildict = {}
    for line in fhand:
        if line.startswith("From:"):
            inp = line
            x = inp.split()
            for i in range(0,len(x)):
                if "@" in x[i]:
                    #print(x[i])
                    emaillst.append(x[i])
    for j in emaillst:
        if j not in emaildict:
            emaildict[j] = emaillst.count(j)
    return emaildict

In [8]:
def pay_calculator(hours, rate):
    payment = 0
    total_pay = 0
    if hours <= 40:
        payment = hours * rate
    elif hours > 40:
        payment = 40 * rate + ((hours-40) * (1.5 * rate))
    total_pay = payment
    return total_pay

In [9]:
x = pay_calculator(45, 10)
print(x)

AttributeError: type object 'float' has no attribute 'payment'

In [ ]:
import numpy as np

In [ ]:
import numpy as np
A_arr = np.array([ [ 5,9], [4, 7] ])
B_arr = np.array( [ [2, 8], [1, 6] ] )
M_arr = A_arr * B_arr
print(M_arr)
C_arr = np.array([ [ 5,9], [4, 7] ])
D_arr = np.array( [ [2, 8], [1, 6] ] )
P_arr = np.dot(C_arr, D_arr)
print(P_arr)

In [19]:
R_int_div = np.array([ [ 25,65], [40, 70] ])
S_int_div = np.array([ [2, 10], [8, 3] ] )

In [20]:
T_int_div = R_int_div // S_int_div

In [21]:
print(T_int_div)

[[12  6]
 [ 5 23]]

In [22]:
R_mod = np.array([ [ 20,65], [40, 70] ])
S_mod = np.array([ [2, 10], [8, 3] ] )

In [23]:
T_mod = R_mod % S_mod

In [24]:
print(T_mod)

[[0 5]
 [0 1]]

In [43]:
4 ** 2

16

In [44]:
import numpy as np

In [45]:
R_exp = np.array([ [ 4, 2], [3, 4 ] ] )
S_exp = np.array( [ [2, 10], [4, 5] ] )

In [46]:
T_exp = R_exp ** S_exp
print(T_exp)

[[  16 1024]
 [  81 1024]]

In [47]:
3 ** 4

81

In [48]:
4 ** 5

1024

In [57]:
U = np.array([ [ 22, 45], [90, 4 ] ] )

In [58]:
U < 45

array([[ True, False],
       [False,  True]])

In [60]:
print(U[U<45])

[22  4]

In [66]:
X_stat = np.array([ [ 1, 2, 3], [ 4, -5, 6] ])

In [67]:
print("mean = ", X_stat.mean())

mean =  1.8333333333333333

In [68]:
print("Variance = ", X_stat.var())

Variance =  11.805555555555557

In [69]:
print("Standard Deviation = ", X_stat.std())

Standard Deviation =  3.435921354681384

In [70]:
print("min = ", X_stat.min())

min =  -5

In [71]:
print("max = ", X_stat.max())
print("sum = ", X_stat.sum())
print("product = ", X_stat.prod())

max =  6
sum =  11
product =  -720

In [83]:
import numpy as np

In [84]:
Z = np.arange(18).reshape(2,3,3)

In [85]:
print(Z)

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]]

In [87]:
print(Z.sum(axis=2))

[[ 3 12 21]
 [30 39 48]]

In [93]:
N = np.arange(6).reshape(3,2)

In [94]:
print(N)

[[0 1]
 [2 3]
 [4 5]]

In [96]:
print(N.transpose())

[[0 2 4]
 [1 3 5]]

In [103]:
X_broad = np.ones((3,3))

In [104]:
print(X_broad)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [105]:
Y_broad = np.arange(3)

In [106]:
print(Y_broad)

[0 1 2]

In [107]:
Z_broad = X_broad + Y_broad

In [108]:
print(Z_broad)

[[1. 2. 3.]
 [1. 2. 3.]
 [1. 2. 3.]]

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
#from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
import os

In [2]:
filePath = "/cxldata/datasets/project/bikes.csv"
bikesData = pd.read_csv(filePath)

In [3]:
columnsToDrop = ["instant","casual","registered","atemp","dteday"]
bikesData = bikesData.drop(columnsToDrop, axis=1)

In [4]:
columnsToScale =["temp","hum","windspeed"]
scaler = StandardScaler()
bikesData[columnsToScale] = scaler.fit_transform(bikesData[columnsToScale])

In [5]:
bikesData['dayCount'] = pd.Series(range(bikesData.shape[0]))/24

In [6]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(bikesData, test_size = 0.3, random_state=42)

In [7]:
train_set.sort_values('dayCount', axis= 0, inplace=True)
test_set.sort_values('dayCount', axis= 0, inplace=True)

/usr/local/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
print(train_set.shape)

(12165, 13)

In [9]:
print(train_set.shape[0])

12165

In [10]:
print(train_set.shape[1])

13

In [11]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [12]:
trainingCols = train_set.copy()

In [13]:
trainingCols = trainingCols.drop(["cnt"], axis=1)

In [14]:
trainingCols.head()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,hum,windspeed,dayCount
1,1,0,1,1,0,6,0,1,-1.438516,0.895539,-1.553889,0.041667
2,1,0,1,2,0,6,0,1,-1.438516,0.895539,-1.553889,0.083333
4,1,0,1,4,0,6,0,1,-1.334648,0.636370,-1.553889,0.166667
6,1,0,1,6,0,6,0,1,-1.438516,0.895539,-1.553889,0.250000
7,1,0,1,7,0,6,0,1,-1.542385,1.206542,-1.553889,0.291667

In [15]:
trainingLabels = train_set["cnt"].copy()

In [16]:
trainingLabels.head(5)

1    40
2    32
4     1
6     2
7     3
Name: cnt, dtype: int64

In [17]:
x = train_set["cnt"]

In [18]:
x.head()

1    40
2    32
4     1
6     2
7     3
Name: cnt, dtype: int64

In [19]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [20]:
dec_reg = DecisionTreeRegressor(random_state=42)
dt_mae_scores = -cross_val_score(dec_reg, trainingCols, trainingLabels, cv =10, scoring="neg_mean_absolute_error")

In [21]:
display_scores(dt_mae_scores)

Scores: [42.79622021 50.31963846 37.03615448 44.15365653 47.07723911 72.03782895
 58.36019737 48.22615132 50.94407895 96.88898026]
Mean: 54.78401456342171
Standard deviation: 16.70953413912157

In [22]:
dt_mse_scores = np.sqrt(-cross_val_score(dec_reg, trainingCols, trainingLabels, cv=10, scoring="neg_mean_squared_error"))

In [23]:
display_scores(dt_mse_scores)

Scores: [ 65.10279464  77.670527    60.59989749  73.66268699  75.76702279
 113.26870416  96.665763    81.28550338  86.87354694 149.4085296 ]
Mean: 88.03049759858746
Standard deviation: 25.035783082114

In [24]:
lin_reg = LinearRegression()

In [25]:
lr_mae_scores = -cross_val_score(lin_reg, trainingCols, trainingLabels, cv = 10, scoring="neg_mean_absolute_error" )

In [26]:
print(lr_mae_scores)

[ 66.96340699  80.48809095 113.84704981  93.17230086  76.11197672
  96.5220689  133.13798218 158.02254734 158.90195479 127.15674717]

In [27]:
display_scores(lr_mae_scores)

Scores: [ 66.96340699  80.48809095 113.84704981  93.17230086  76.11197672
  96.5220689  133.13798218 158.02254734 158.90195479 127.15674717]
Mean: 110.43241256942201
Standard deviation: 31.426965705295725

In [28]:
lr_mse_scores = np.sqrt(-cross_val_score(lin_reg, trainingCols, trainingLabels, cv=10, scoring="neg_mean_squared_error"))

In [29]:
display_scores(lr_mse_scores)

Scores: [ 84.63836676 111.12038541 131.88324414 119.16350622 105.17621319
 127.72562924 174.97188817 187.31691741 205.60028279 164.30585678]
Mean: 141.1902290118175
Standard deviation: 37.55565075919573

In [30]:
forest_reg = RandomForestRegressor(n_estimators=150, random_state=42)

In [31]:
rf_mae_scores = -cross_val_score(forest_reg, trainingCols, trainingLabels, cv = 10, scoring = "neg_mean_absolute_error" )

In [32]:
display_scores(rf_mae_scores)

Scores: [33.33921665 33.5634292  28.51544782 31.74855656 36.55779239 57.78830592
 40.91410636 40.72524123 37.58651864 84.75860197]
Mean: 42.54972167412677
Standard deviation: 15.998616999257116

In [33]:
rf_mse_scores = np.sqrt(-cross_val_score(forest_reg, trainingCols, trainingLabels, cv = 10, scoring = "neg_mean_squared_error"))

In [34]:
display_scores(rf_mse_scores)

Scores: [ 45.56103408  50.97710002  43.43059587  52.22561489  60.45598311
  94.23444802  66.14917355  65.25550321  61.67555223 132.00386791]
Mean: 67.19688728966834
Standard deviation: 25.55764715717203

In [35]:
from sklearn.model_selection import GridSearchCV

In [36]:
param_grid = [
    {'n_estimators': [120, 150], 'max_features': [10, 12], 'max_depth': [15, 28]}
]

In [37]:
grid_search = GridSearchCV(forest_reg, param_grid, cv=5, scoring="neg_mean_squared_error")

In [90]:
grid_search = GridSearchCV(forest_reg, param_grid, cv=5, scoring='neg_mean_squared_error')

In [40]:
grid_search.fit(trainingCols, trainingLabels)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=150, n_jobs=None,
                                             oob_score=False, random_state=42,
                                             verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'max_depth': [15, 28], 'max_features': [10, 12],
                          'n_estimators': [120, 150]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [41]:
grid_search.best_params_

{'max_depth': 28, 'max_features': 10, 'n_estimators': 150}

In [42]:
print(grid_search.best_params_)

{'max_depth': 28, 'max_features': 10, 'n_estimators': 150}

In [47]:
feature_importances = grid_search.best_estimator_.feature_importances_

In [48]:
print(feature_importances)

[0.00424888 0.00145493 0.00570279 0.58348648 0.00215107 0.01790669
 0.06993018 0.01688336 0.09373438 0.03176755 0.00907719 0.16365649]

In [52]:
print(grid_search.best_estimator_)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=28, max_features=10, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=150, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [53]:
test_set.sort_values('dayCount', axis = 0, inplace=True)

/usr/local/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
test_set.head()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,hum,windspeed,cnt,dayCount
0,1,0,1,0,0,6,0,1,-1.334648,0.947372,-1.553889,16,0.000000
3,1,0,1,3,0,6,0,1,-1.334648,0.636370,-1.553889,13,0.125000
5,1,0,1,5,0,6,0,2,-1.334648,0.636370,-0.821484,1,0.208333
8,1,0,1,8,0,6,0,1,-1.334648,0.636370,-1.553889,8,0.333333
14,1,0,1,14,0,6,0,2,-0.192091,0.480868,0.764304,106,0.583333

In [63]:
test_x_cols = test_set.drop('cnt', axis=1).columns.values

In [64]:
test_x_cols

array(['season', 'yr', 'mnth', 'hr', 'holiday', 'weekday', 'workingday',
       'weathersit', 'temp', 'hum', 'windspeed', 'dayCount'], dtype=object)

In [72]:
test_y_cols = "cnt"

In [73]:
test_y_cols

'cnt'

In [65]:
X_test = test_set.loc[:,test_x_cols]

In [74]:
y_test = test_set.loc[:,test_y_cols]