In [1]:
import pandas as pd
pointsdf = pd.read_csv("/cxldata/mltut/points.csv")

In [2]:
pointsdf

     -4.58704641  -1.28859237
0       5.129801     2.096558
1       3.503374     3.037879
2      -5.403303    -0.955839
3      -4.907037    -0.085786
4       3.659711     2.239304
..           ...          ...
293     1.070850    -3.451932
294     0.074465    -1.907845
295    -4.472267    -0.744752
296    -4.225764     0.769063
297    -5.948239    -1.637534

[298 rows x 2 columns]

In [ ]:
import numpy as np
points = np.array()