In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
#from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
import os

In [2]:
filepath = "/cxldata/datasets/project/bikes.csv"
bikesData = pd.read_csv(filepath)

In [3]:
bikesData.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [13]:
bikesData.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [18]:
type(bikesData["dteday"])

pandas.core.series.Series

In [19]:
bikesData["dteday"].describe()

count          17379
unique           731
top       2012-01-01
freq              24
Name: dteday, dtype: object

In [20]:
bikesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
instant       17379 non-null int64
dteday        17379 non-null object
season        17379 non-null int64
yr            17379 non-null int64
mnth          17379 non-null int64
hr            17379 non-null int64
holiday       17379 non-null int64
weekday       17379 non-null int64
workingday    17379 non-null int64
weathersit    17379 non-null int64
temp          17379 non-null float64
atemp         17379 non-null float64
hum           17379 non-null float64
windspeed     17379 non-null float64
casual        17379 non-null int64
registered    17379 non-null int64
cnt           17379 non-null int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [5]:
bikesData["yr"].value_counts()

1    8734
0    8645
Name: yr, dtype: int64

In [7]:
bikesData["season"].unique()

array([1, 2, 3, 4])

In [ ]:
help()

Welcome to Python 3.6's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.6/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> values
No Python documentation found for 'values'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> values()
No Python documentation found for 'values()'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [10]:
bikesData["hum"].describe()

count    17379.000000
mean         0.627229
std          0.192930
min          0.000000
25%          0.480000
50%          0.630000
75%          0.780000
max          1.000000
Name: hum, dtype: float64

In [4]:
columnsToDrop = ["instant","casual","registered","atemp","dteday"]

In [5]:
bikesData = bikesData.drop(columnsToDrop, axis=1)

In [6]:
bikesData.head(5)

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,hum,windspeed,cnt
0,1,0,1,0,0,6,0,1,0.24,0.81,0.0,16
1,1,0,1,1,0,6,0,1,0.22,0.80,0.0,40
2,1,0,1,2,0,6,0,1,0.22,0.80,0.0,32
3,1,0,1,3,0,6,0,1,0.24,0.75,0.0,13
4,1,0,1,4,0,6,0,1,0.24,0.75,0.0,1

In [24]:
help.dropna()

AttributeError: '_Helper' object has no attribute 'dropna'

In [7]:
columnsToScale =["temp","hum","windspeed"]
bikesData[columnsToScale].head(10)

   temp   hum  windspeed
0  0.24  0.81     0.0000
1  0.22  0.80     0.0000
2  0.22  0.80     0.0000
3  0.24  0.75     0.0000
4  0.24  0.75     0.0000
5  0.24  0.75     0.0896
6  0.22  0.80     0.0000
7  0.20  0.86     0.0000
8  0.24  0.75     0.0000
9  0.32  0.76     0.0000

In [8]:
columnsToScale =["temp","hum","windspeed"]
scaler = StandardScaler()
bikesData[columnsToScale] = scaler.fit_transform(bikesData[columnsToScale])

In [9]:
bikesData[columnsToScale].describe()

               temp           hum     windspeed
count  1.737900e+04  1.737900e+04  1.737900e+04
mean   3.497212e-16 -4.195150e-16  4.035529e-15
std    1.000029e+00  1.000029e+00  1.000029e+00
min   -2.477205e+00 -3.251166e+00 -1.553889e+00
25%   -8.153035e-01 -7.631431e-01 -6.996886e-01
50%    1.564696e-02  1.436398e-02  3.189880e-02
75%    8.465975e-01  7.918711e-01  5.198962e-01
max    2.612367e+00  1.932215e+00  5.399871e+00

In [10]:
pd.Series(range(bikesData.shape[0]))

0            0
1            1
2            2
3            3
4            4
         ...
17374    17374
17375    17375
17376    17376
17377    17377
17378    17378
Length: 17379, dtype: int64

In [11]:
bikesData.shape

(17379, 12)

In [12]:
bikesData['dayCount'] = pd.Series(range(bikesData.shape[0]))/24

In [17]:
import train_test_split from scikit-learn

SyntaxError: invalid syntax (<ipython-input-17-820bcc7b5919>, line 1)

In [13]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(bikesData, test_size = 0.3, random_state=42)

In [26]:
train_set.sort_values('dayCount', axis= 0, inplace=True)
test_set.sort_values('dayCount', axis= 0, inplace=True)

/usr/local/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
train_set.sort_values('dayCount', axis= 0, inplace=True)

/usr/local/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
train_set.head(5)

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,hum,windspeed,cnt,dayCount
1,1,0,1,1,0,6,0,1,-1.438516,0.895539,-1.553889,40,0.041667
2,1,0,1,2,0,6,0,1,-1.438516,0.895539,-1.553889,32,0.083333
4,1,0,1,4,0,6,0,1,-1.334648,0.636370,-1.553889,1,0.166667
6,1,0,1,6,0,6,0,1,-1.438516,0.895539,-1.553889,2,0.250000
7,1,0,1,7,0,6,0,1,-1.542385,1.206542,-1.553889,3,0.291667

In [16]:
test_set.sort_values('dayCount', axis= 0, inplace=True)

/usr/local/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
bikesData.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [26]:
x = pd.Series(bikesData)

ValueError: Wrong number of items passed 13, placement implies 17379

In [27]:
print(len(train_set))

12165

In [33]:
train_set.shape

(12165, 13)

In [34]:
print(train_set.shape)

(12165, 13)

In [35]:
print(train_set.shape[0])

12165

In [36]:
print(train_set.shape[1])

13

In [37]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [38]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [39]:
trainingCols = train_set.copy()

In [40]:
trainingCols = trainingCols.drop(["cnt"], axis=1)

In [41]:
trainingLabels = train_set["cnt"].copy()